.text {
  color: inherit;
  line-height: 1.75;
}

.size-3xl {
  font-size: var(--font-size-3xl);
}

.size-2xl {
  font-size: var(--font-size-2xl);
}

.size-xl {
  font-size: var(--font-size-xl);
}

.size-l {
  font-size: var(--font-size-l);
}

.size-m {
  font-size: var(--font-size-m);
}

.size-s {
  font-size: var(--font-size-s);
}
