.text {
  color: inherit;
}

.xxl {
  font-size: var(--xxl-font-size);
  line-height: var(--xxl-line-height);
}

.xl {
  font-size: var(--xl-font-size);
  line-height: var(--xl-line-height);
}

.l {
  font-size: var(--l-font-size);
  line-height: var(--l-line-height);
}

.m {
  font-size: var(--m-font-size);
  line-height: var(--m-line-height);
}

.s {
  font-size: var(--s-font-size);
  line-height: var(--s-line-height);
}
