%wrapperBackground {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;

  &.white {
    background: var(--color-white);
    color: var(--color-black);
  }

  &.blue {
    color: var(--color-white);
    position: relative;

    &::before {
      @extend %wrapperBackground;
      background: var(--color-blue) url("../../../assets/circle-pattern.svg");
      background-repeat: repeat-y;
      background-position: 50% 0;
      opacity: 0.1;
      z-index: -1;
    }

    &::after {
      @extend %wrapperBackground;
      background: var(--color-blue);
      z-index: -2;
    }
  }
}

.innerWrapper {
  margin: auto;
  max-width: var(--section-max-width);
  padding: var(--section-spacing-vertical) var(--section-spacing-horizontal);
}
