@import "https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap";
@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

  /* TODO: We need to consider if this font fits cause imo its too infantile for business landing page :( */

  /* font-family: 'Mali', cursive, sans-serif; */
  font-family: "JetBrains Mono", monospace;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--navbar-height);
}

a {
  color: inherit;
}
