:root {
  /* ----- typography ----- */
  --xxl-font-size: 4rem;
  --xl-font-size: 3rem;
  --l-font-size: 2.25rem;
  --m-font-size: 1.5rem;
  --s-font-size: 1.25rem;

  /* ----- line-height ----- */
  --xxl-line-height: 4.75rem;
  --xl-line-height: 3.6rem;
  --l-line-height: 2.7rem;
  --m-line-height: 1.75rem;
  --s-line-height: 1.5rem;

  /* ----- colors ----- */
  --color-orange: #f6a721;
  --color-blue: #03628a;
  --color-blue-light: #6daec7;
  --color-white: #fff;
  --color-grey: #d0d0d0;
  --color-black: #282828;

  /* ----- spacing ----- */
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 96px;
  --space-5xl: 128px;

  /* ----- border ----- */
  --border-radius-default: 8px;

  /* ----- section ----- */
  --section-max-width: 1120px;
  --section-spacing-vertical: 128px;
  --section-spacing-horizontal: 64px;

  /* ----- navbar ----- */
  --navbar-height: 96px;
  --navbar-logo-size: 64px;
  --navbar-padding-vertical: 16px;
  --navbar-padding-horizontal: 64px;

  /* ----- badge ----- */
  --badge-sm-height: 64px;
  --badge-normal-height: 96px;
}

@media (max-width: 1024px) {
  :root {
    /* ----- section ----- */
    --section-spacing-vertical: 96px;
    --section-spacing-horizontal: 48px;
    --navbar-padding-horizontal: 48px;
    --navbar-hamburger-size: 40px;
    --navbar-hamburger-bottom-bar-top-position: 14px;
    --navbar-hamburger-top-bar-top-position: -16px;
    --navbar-hamburger-bar-height: 4px;
    --navbar-hamburger-top-bar-opened-top-position: -4px;
  }
}

@media (max-width: 480px) {
  :root {
    /* ----- section ----- */
    --section-spacing-vertical: 64px;
    --section-spacing-horizontal: 32px;

    /* ----- navbar ----- */
    --navbar-height: 64px;
    --navbar-logo-size: 48px;
    --navbar-padding-vertical: 8px;
    --navbar-padding-horizontal: 32px;
    --navbar-hamburger-size: 32px;
    --navbar-hamburger-bottom-bar-top-position: 10px;
    --navbar-hamburger-top-bar-top-position: -12px;
    --navbar-hamburger-bar-height: 3px;
    --navbar-hamburger-top-bar-opened-top-position: -3px;
  }
}
