.cardContainer {
  display: grid;
  grid-template-columns: repeat(1, var(--card-width));
  align-items: center;
  justify-content: center;
  justify-items: center;
  row-gap: 24px;
}

.textContainer {
  margin-top: 24px;
  margin-bottom: 32px;
}

.textField {
  text-align: center;
  margin-bottom: 1rem;
}

.textField:last-of-type {
  margin-bottom: 0;
}

// tablet
@media (min-width: 480px) {
  .cardContainer {
    grid-template-columns: repeat(2, var(--card-width));
    column-gap: 48px;
    row-gap: 48px;
  }

  .textContainer {
    margin-top: 32px;
    margin-bottom: 48px;
  }
}

// desktop
@media (min-width: 1024px) {
  .textContainer {
    margin-left: 10%;
    margin-right: 10%;
  }

  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
  }
}
