.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  text-align: left;
  font-family: inherit;
  font-size: var(--font-size-m);
  padding: var(--space-s) var(--space-m);
  background-color: var(--color-blue-light);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-default);
  cursor: pointer;
}

.chevron {
  height: var(--chevron-height);
  fill: var(--color-white);
  transform: rotate(0);
  transition: transform 0.5s ease-out;

  &.open {
    transform: rotate(180deg);
  }
}

.panel {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: var(--space-m);
  border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
  padding-top: var(--space-m);
}

.enter {
  transition: all 0.25s ease-in-out;
  transform-origin: top;
}

.enterFrom {
  transform: translateY(0) scaleY(0);
  opacity: 0;
  max-height: 0;
}

.enterTo {
  transform: translateY(-5px) scaleY(1);
  opacity: 1;
  max-height: 400px;
}

.leave {
  transform-origin: top;
  transition: all 0.15s ease-in-out;
}

.leaveFrom {
  transform: scaleY(1) translateY(-5px);
  opacity: 1;
  max-height: 400px;
}

.leaveTo {
  transform: scaleY(0) translateY(0);
  opacity: 0;
  max-height: 0;
}
