.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
  border-radius: var(--border-radius-default);
  padding: var(--space-s) var(--space-m);
  font-size: var(--space-xl);
  text-align: center;
}

.primary {
  background-color: var(--color-orange);
}

.secondary {
  background-color: var(--color-blue-light);
}
