.card {
  width: var(--card-width);
  box-shadow: 0 2px 8px rgba(0 0 0 / 0.1);
  border-radius: var(--border-radius-default);
  background-color: var(--color-white);
  overflow: hidden;
}

.imageContainer {
  position: relative;
  height: var(--card-width);
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  display: flex;
  min-height: calc(var(--card-height) - var(--card-width));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  text-align: center;
  padding: 16px;
}

.mainText {
  font-weight: bold;
}

.highlightedText {
  font-weight: bold;
  color: var(--color-orange);
}
